@media screen and (max-width: 1366px) {
    html {
        font-size: 68.3px;
        overflow-y:hidden;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 5.208333333333333333333333333333333333333333333vw;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        overflow-y:hidden;
    }
}
/*每个页面的page*/
.page{
    font-size:12px;
    width:101.5%;
    height:95%;
    overflow-y: auto;
}
a{
    text-decoration: none;
}