@media screen and (max-width: 1366px) {
    html {
        font-size: 68.3px;
        overflow-y:hidden;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }
}

@media screen and (min-width: 1366px) {
    html {
        font-size: 5.208333333333333333333333333333333333333333333vw;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        overflow-y:hidden;
    }
}
/*每个页面的page*/
.page{
    font-size:12px;
    width:101.5%;
    min-width:1000px;
    flex: 1;
    overflow-y: hidden;
    overflow-x: auto;
}
a{
    text-decoration: none;
}
/*表格通用样式*/
table{
    border-collapse:separate;
}
/*自定义弹窗样式*/
.mymodel  .el-dialog__header{
    padding: 0 10px;
}
.mymodel  .el-dialog__body{
    padding: 0 10px 20px;
}

/*
自定义表格*/
.mymodel .el-input__inner {
    border:none
}
.el-table .cell{
    word-break: keep-all;
}