$color1:#22bf98;  //默认风格
$color2:#2bbabf;
$color3:#16aeef;
$color4:#f75555;
$color5:#fa6543;
body{
  //组件激活状态
  .active{
    background:$color1;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color1;
        color: #fff;
        &:hover{
          background: $color1 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color1 !important;
        color: #fff !important;
      }
    }
    background:$color1;
    .el-menu-item {
    background: $color1;
    color: #fff;
    border-bottom:1px solid rgba(0,0,0,0.1);
    &:hover{
      background: $color1;
      color: #fff;
    }
    &.is-active{
      background-color:rgba(34,191,152,0.5)  !important;
      color: #fff;
    }
  }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color1;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color1;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color1;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color1 !important;
    background: $color1 !important;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: $color1 !important;
    background: $color1 !important;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color1;
    border-color: $color1;
    &:hover{
      background-color: $color1;
      border-color: $color1;
    }
  }
}


/*//主题1*/
.theme1{
  //组件激活状态
  .active{
    background:$color1;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color1;
        color: #fff;
        &:hover{
          background: $color1 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color1 !important;
        color: #fff !important;
      }
    }
    background:$color1;
    .el-menu-item {
      background: $color1;
      color: #fff;
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:hover{
        background: $color1;
        color: #fff;
      }
      &.is-active{
        background-color:rgba(34,191,152,0.5)  !important;
        color: #fff;
      }
    }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color1;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color1;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color1;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color1;
    background: $color1;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color1;
    border-color: $color1;
    &:hover{
      background-color: $color1;
      border-color: $color1;
    }
  }
}
/*
主题2*/
.theme2{
  //组件激活状态
  .active{
    background:$color2;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color2;
        color: #fff;
        &:hover{
          background: $color2 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color2 !important;
        color: #fff !important;
      }
    }
    background:$color2;
    .el-menu-item {
      background: $color2;
      color: #fff;
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:hover{
        background: $color2;
        color: #fff;
      }
      &.is-active{
        background-color:rgba(43,186,191,0.5)  !important;
        color: #fff;
      }
    }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color2;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color2;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color2;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color2;
    background: $color2;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color2;
    border-color: $color2;
    &:hover{
      background-color: $color2;
      border-color: $color2;
    }
  }
}
/*
主题3*/

.theme3{
  //组件激活状态
  .active{
    background:$color3;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color3;
        color: #fff;
        &:hover{
          background: $color3 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color3 !important;
        color: #fff !important;
      }
    }
    background:$color3;
    .el-menu-item {
      background: $color3;
      color: #fff;
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:hover{
        background: $color3;
        color: #fff;
      }
      &.is-active{
        background-color:rgba(22,174,239,0.5)  !important;
        color: #fff;
      }
    }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color3;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color3;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color3;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color3;
    background: $color3;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color3;
    border-color: $color3;
    &:hover{
      background-color: $color3;
      border-color: $color3;
    }
  }
}


.theme4{
  //组件激活状态
  .active{
    background:$color4;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color4;
        color: #fff;
        &:hover{
          background: $color4 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color4 !important;
        color: #fff !important;
      }
    }
    background:$color4;
    .el-menu-item {
      background: $color4;
      color: #fff;
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:hover{
        background: $color4;
        color: #fff;
      }
      &.is-active{
        background-color:rgba(247,85,85,0.5)  !important;
        color: #fff;
      }
    }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color4;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color4;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color4;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color4;
    background: $color4;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color4;
    border-color: $color4;
    &:hover{
      background-color: $color4;
      border-color: $color4;
    }
  }
}


.theme5{
  //组件激活状态
  .active{
    background:$color5;
  }
  //侧边栏颜色
  .sidebar-wrapper{
    .el-submenu{
      .el-submenu__title{
        border-bottom:1px solid rgba(0,0,0,0.1);
        background: $color4;
        color: #fff;
        &:hover{
          background: $color4 !important;
          color: #fff !important;
        }
      }
      &:hover{
        background: $color4 !important;
        color: #fff !important;
      }
    }
    background:$color4;
    .el-menu-item {
      background: $color4;
      color: #fff;
      border-bottom:1px solid rgba(0,0,0,0.1);
      &:hover{
        background: $color4;
        color: #fff;
      }
      &.is-active{
        background:rgba(250,101,67,0.5) !important;
        color: #fff;
      }
    }
  }
  //顶部导航栏样式调整
  .navbar{
    .el-menu{
      background:#1f2c33;
      .el-menu-item{
        color:#abbac1;
        border-bottom:5px solid transparent !important;
        &:hover{
          background:#1f2c33;
          color:$color4;
          border-bottom:5px solid transparent !important;
        }
        &.is-active{
          color:$color4;
        }

      }
    }
    .icon_item:hover, .icon_item:hover .icon{
      background:$color5;
      color:#fff !important;
    }
  }

  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color4;
    background: $color4;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color4;
    border-color: $color4;
    &:hover{
      background-color: $color4;
      border-color: $color4;
    }
  }
}
