/*展示设计风格*/
$color1:#00c392;  //默认风格
$color2:blue;
$color3:green;
$color4:red;
/*:root{
  color:#fff;
}*/
body{
  //顶部导航栏背景
  .navbar{
    background:$color1;
  }
  //组件激活状态
  .active{
    background:$color1;
  }
  //侧边栏高亮状态
  .el-menu-item.is-active{
    background-color:$color1  !important;
    color: #fff;
  }
  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color1;
    background: $color1;
  }
  //主要按钮的颜色
  .el-button--primary {
    color: #fff;
    background-color: $color1;
    border-color: $color1;
    &:hover{
      background-color: $color1;
      border-color: $color1;
    }
  }
}



.theme_blue{
  .navbar{
    background:$color2;
  }
  .el-menu-item.is-active{
    background-color:$color2  !important;
    color: #fff;
  }
  .active{
    background:$color2;
  }
  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color2;
    background: $color2;
  }
  .el-button--primary {
    color: #fff;
    background-color: $color2;
    border-color: $color2;
    &:hover{
      background-color: $color2;
      border-color: $color2;
    }
  }

}


.theme_green{
  .navbar{
    background:$color3;
  }
  .el-menu-item.is-active{
    background-color:$color3  !important;
    color: #fff;
  }
  .active{
    background:$color3;
  }
  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color3;
    background: $color3;
  }
  .el-button--primary {
    color: #fff;
    background-color: $color3;
    border-color: $color3;
    &:hover{
      background-color: $color3;
      border-color: $color3;
    }
  }
}


.theme_red{
  .navbar{
    background:$color4;
  }
  .el-menu-item.is-active{
    background-color:$color4  !important;
    color: #fff;
  }
  .active{
    background:$color4;
  }
  //单选框高亮
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $color4;
    background: $color4;
  }
  .el-button--primary {
    color: #fff;
    background-color: $color4;
    border-color: $color4;
    &:hover{
      background-color: $color4;
      border-color: $color4;
    }
  }
}